* {
    margin: 0;
    padding:0x;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

/*PAGINA INDEX*/
.container {  
    margin-top: 0px auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav nav nav"
      "section section section"
      "article1 article2 article3"
      "footer footer footer";
}
  
.nav{ 
    background-color: white;
    padding: 1.2rem;
    display: flex;
    grid-area: nav;
    justify-content: space-between;
    align-items: center; 
}
nav .nav img{
    width: 60px;

}
nav ul{
    float: right;
    list-style: none;
    text-align: center;
    vertical-align: top;
}
nav li{
    list-style-type: none;
    padding: 0px;
    display: inline;
}
nav li a{
    color: black;
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 10px;
}
nav li a:hover{
     color: #8F39FF;
}

.article1 img{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.article1 h3{
    color: #8F39FF;
}
  
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: section; 
}
.section h1{
    text-align: center;
}
.section h1 span{
    color: #8F39FF;
}
.section p{
    text-align: center;
    text-decoration: none;
}

.article2{ 
    grid-area: article2; 
}
.article2 h3{
    color: #8F39FF;
}
  
.article3{ 
    grid-area: article3; 
}
.article3 h3{
    color: #8F39FF;
}

.footer{ 
    grid-area: footer; 
}



.card{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
    border: 1px solid grey;
  }
  
  .card-shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
footer{
    padding: 30px 0 30px 0;
    text-align: center;
    clear: both;
    background-color: black;
}



/*PAGINA HABITOS
.*/

body header .container2{
    text-align: center;
    text-decoration: none;

}
.nav{
        background-color: white;
        padding: 1.2rem;
        display: flex;
        grid-area: nav;
        justify-content: space-between;
        align-items: center; 
    
}




/*PAGINA TERAPIA*/
.containerTerapia {  display: grid;
    grid-template-columns: 1.2fr 1.4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navTerapia navTerapia navTerapia"
      "cardTerapia1 cardTerapia1 cardTerapia1"
      "cardTerapia2 cardTerapia2 cardTerapia2"
      "cardTerapia3 cardTerapia3 cardTerapia3"
      "cardTerapia4 cardTerapia4 cardTerapia4"
      "footer footer footer";
  }
  
  .navTerapia { grid-area: navTerapia; }
  
  .cardTerapia1 { grid-area: cardTerapia1; }
  
  .cardTerapia2 { grid-area: cardTerapia2; }
  
  .cardTerapia3 { grid-area: cardTerapia3; }
  
  .cardTerapia4 { grid-area: cardTerapia4; }
  
  .footer { grid-area: footer; }
  
body {
  margin: 0;
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}
.tarjeta {
  max-width: 65vw;
  margin: 48px auto;
  display: block;
  border-radius: 10px;
  border: 1px solid #8F39FF;
  overflow: hidden;
}
.contenido {
  display: flex; 
}
@media (max-width: 1024px){
  .contenido{
  flex-direction: column;
  } 
  .tarjeta {
   max-width: 95vw; 
  }
}
.ladoIzq, .ladoDer {
  width: 100%;
}
.ladoDer img {
  width: 100%;
  height: 100%;
  border-style: none;
}
.ladoIzq {
  background: #8F39FF;
  color: white;
  padding: 48px
}
.btn {
  display: inline-block;
  background: white;
  margin-right: 4px;
  padding: 14px;
  border-radius: 5px;
  margin-top: 18px;
}
a.btn{
   text-decoration: none;
}
a.btn:first-of-type {
   background: #5252b4;
   color: white;
}
a.btn:hover{
   opacity: 0.8;
}
/*PAGINA TERAPIA*/




/*PAGINA SUSCRIBITE*/


.section{
    width: 700px;
    margin: 20px auto;
}




  
  


/*PAGINA SOBRE CALMA*/

.contFormulario {  display: grid;
    grid-template-columns: 1fr 1.8fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav nav nav"
      "section1 article1 article1"
      "section2 article2 article2"
      "section3 article3 article3"
      "footer footer footer";
  }
  
  .nav{ 
    background-color: white;
    padding: 1.2rem;
    display: flex;
    grid-area: nav;
    justify-content: space-between;
    align-items: center; 
}
nav .nav img{
    width: 60px;

}
nav ul{
    float: right;
    list-style: none;
    text-align: center;
    vertical-align: top;
}
nav li{
    list-style-type: none;
    padding: 0px;
    display: inline;
}
nav li a{
    color: black;
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 10px;
}
nav li a:hover{
     color: #8F39FF;
}
.section1 {
    text-align: center;
    padding: 0px; 
    grid-area: section1;
}
  
  .article1 {
    text-align: center;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none; 
    grid-area: article1;
}
  
  .section2 { 
    text-align: center;
    padding: 0px; 
    grid-area: section2; 
}
  
  .article2 {
    text-align: center;
    padding: 0px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    text-decoration: none ;
    grid-area: article2; 
}
  
  .footer { 
    padding: 30px 0 30px 0;
    text-align: center;
    clear: both;
    background-color: black;
    grid-area: footer; 
}

  
  .section3 {
    text-align: center;
    padding: 0px;
    grid-area: section3; 
}
  
  .article3 { 
    text-align: center;
    padding: 0px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    text-decoration: none ;
    grid-area: article3; 
}


  @media screen, print {
    body {
      line-height: 1.2;
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
      line-height: 1.4;
      font-size: 13px;
    }
  }


